*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}

.login{
    background-color: rgb(67, 186, 138);
    border-radius: 20px;
    padding: 10px;
    color: white;
    outline: none;
    border: none;
}

h1{
    font-weight: bolder;
    font-size: 7vw;
    padding: 20px;
}

.main{
    background-color: #2c2c2c;
    color:white;
    text-align: center;
    width: 100%;
    height:100vh;
    padding: 20px;
}

.main2{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    min-height: 80vh;
}

p{
    padding: 10px;
}

.start{
    background-color: rgb(67, 186, 138);
    border-radius: 30px;
    padding: 15px;
    color: rgb(247, 241, 241);
    font-size: large;
    font-weight: 800;
    margin: 50px;
    outline: none;
    border: none;
    text-shadow: 2px 2px 4px #000000;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.start, .login {
    max-width: 90%;
    width: 180px;
}

@media (max-width: 768px) { /* For tablets and smaller */
    .nav {
        gap: 15px;
    }

    h1 {
        font-size: 6vw; 
    }

    .main2 {
        padding: 10px;
        min-height: 70vh;
    }

    .start, .login {
        width: 50%;
        padding: 12px; 
    }
}

@media (max-width: 480px) { /* For mobile phones */
    .nav {
        align-items: center;
        text-align: center;
    }

    h1 {
        font-size: 10vw;
    }

    .main {
        padding: 10px;
    }

    .main2 {
        padding: 10px;
        min-height: 60vh;
    }

    p {
        font-size: 14px;
    }

    .start, .login {
        font-size: 14px;
        padding: 10px;
    }
}
